* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    background: rgba(170, 170, 170, 0.692);
    /* background: url(/images/pexels-andrea-piacquadio-3769138.jpeg) no-repeat; */
    
  
  }
  
  #navbar {
    font-size: 18px;
    background-color: rgb(236, 236, 236);
  }
  
  .nav-link:hover {
    color: #fff;
    transition: all 0.5s ease-out;
    border-bottom: 3px solid rgb(88, 56, 56);
    padding: 0;
  }
  
  /* #cont{
        margin-top: 140px;
        border-radius: 10px;
        background-color: rgb(88, 56, 56);
        color: white;
        padding: 10% 2%;
    } */
  
  /* Contact details */
  
  :root {
    --red: red;
    --white: white;
    --brown: rgba(39, 15, 15, 0.9);
    --brown2: rgb(39, 15, 15);
  }
  
  .container {
    padding: 15% 10%;
    text-align: center;
  }
  
  .inner-container {
    /* border: 1px solid var(--white); */
    padding: 8%;
    border-radius: 7px;
    background: rgba(39, 15, 15, 0.9);
  }
  
  .tittle {
    color: var(--white);
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
  .text {
    color: var(--white);
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 18px;
    padding-bottom: 30px;
  }
  .contact-info {
    color: rgba(39, 15, 15, 0.9);
    background: white;
    padding: 10%;
  }
  
  .home-address {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
  }
  
  .home-add {
    padding-bottom: 15px;
  }
  .tel {
    margin-top: 8px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
  }
  .email {
    padding-top: 22px;
  }
  
  @media only screen and (max-width: 900px) {
    .container {
      padding: 50% 10%;
    }
    .home-address,
    .tel,
    .email {
      font-size: 15px;
    }
    #mobile-label {
      margin-bottom: 5px;
    }
  
    #mobile-input {
      margin-bottom: 15px;
    }
  
    .mobile-header {
      font-size: 15px;
      font-weight: 700;
    }
  
    .tittle {
      color: var(--white);
      text-align: center;
      margin-bottom: 15px;
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 10px;
    }
  
    .text {
      color: var(--white);
      font-size: 12px;
      font-weight: 200;
      margin-bottom: 12px;
      padding-bottom: 30px;
    }
  }
  
  #mobile-label {
    background: var(--brown2);
    color: var(--white);
    font-size: smaller;
  }
  
  /* Contact us page icons */
  #contact-icon {
    font-size: 25px;
    padding-right: 8px;
    color: rgba(39, 15, 15, 0.9);
  }
  
  .get-started {
    text-decoration: none;
    border: 1px solid var(--brown);
    padding: 10px 15px;
    border-radius: 3px;
    background-color: var(--white);
    color: var(--brown2);
  }
  
  a:hover {
    color: var(--white);
    background-color: rgb(39, 15, 15);
  }
  
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  