html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  font-family: "Robot",sans-serif !important;
}





@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Millik';
  src: url('../public/assets/fonts/Millik\ Regular.otf') format('opentype');
}